.shopping-cart {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    position: fixed;
    width: 27%;

    .shopping-cart-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .shopping-cart-product-list {
        display: flex;
        flex-direction: column;
        margin: 0 35px;
    }

    .total-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        margin-top: 10px;
    }
}
